from core.ui.common.base_page import BasePage
from selenium.webdriver.common.by import By


class {{ class_name }}(BasePage):
    """
    Page Object for {{ class_name }}.
    """
    # 1. Locators (CAPS_SNAKE with prefixes BTN_, INP_, TXT_, SEL_, CHK_)
    # EXAMPLE_BUTTON = (By.ID, "example-id")

    # 2. Granular Methods (One Locator = One Method)
    # def click_example_button(self):
    #     self.element(self.EXAMPLE_BUTTON).click()
    #     return self

    # 3. Composite Methods (Reuse granular methods)
    # def perform_example_flow(self):
    #     return self.click_example_button()
